.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.egg-info/
build/
dist/
*.spec
!Mediatag.spec
!Mediatag-Windows.spec
*.mp4
*.mkv
*.avi
*.mov
*.jpg
*.jpeg
*.png
!show/
!show/*.png
covers/
logs/
